# Google Maps (https://console.cloud.google.com/)
NUXT_PUBLIC_GOOGLE_MAPS_API_KEY=
NUXT_PUBLIC_GOOGLE_MAP_ID=

# Google OAuth (https://console.cloud.google.com/)
NUXT_OAUTH_GOOGLE_CLIENT_ID=
NUXT_OAUTH_GOOGLE_CLIENT_SECRET=

# Session encryption key (générer avec : openssl rand -base64 32)
NUXT_SESSION_PASSWORD=

# Liste blanche des emails autorisés (séparés par des virgules)
NUXT_ALLOWED_EMAILS=email1@gmail.com,email2@gmail.com

# Environnement (development / production)
NUXT_PUBLIC_NODE_ENV=development
