@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  /* Palette brand */
  --color-brand-50: #f0fbff;
  --color-brand-100: #d9f6ff;
  --color-brand-200: #b3eeff;
  --color-brand-300: #80e4ff;
  --color-brand-400: #4dd9ff;
  --color-brand-500: #9de4f8;
  --color-brand-600: #71c9e6;
  --color-brand-700: #539fbf;
  --color-brand-800: #376f85;
  --color-brand-900: #1e4a57;
  --color-brand-950: #0f2d36;
}

.btn-square {
  @apply w-12 h-12 p-0 flex items-center justify-center rounded-2xl;
}
